@media only screen and (max-width: 600px) {
  .productdisplay {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .productdisplay-left {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 24px;
  }
  
  .productdisplay-img-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: auto;
  }
  
  .productdisplay-img-list img {
    width: 10%;
  }
  
  .productdisplay-hero {
    width: 50%;
  }
  
  .productdisplay-right {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 700;
  }
  
  .productdisplay-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    color: #1c1c1c;
    font-size: 16px;
  }
  
  .productdisplay-prices {
    display: flex;
    margin: 24px auto;
    gap: 32px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .productdisplay-price-old {
    color: #818181;
    text-decoration: line-through;
  }
  
  .productdisplay-price-new {
    color: #ff4141;
  }
  
  .productdisplay-size h1 {
    margin-top: 56px;
    color: #656565;
    font-size: 24px;
    font-weight: 600;
  }
  
  .productdisplay-sizes {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    gap: 20px;
  }
  
  .productdisplay-sizes div {
    padding: 8px 16px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .productdisplay-sizes div:focus{
    background: grey;
  }
  
  .productdisplay-sizes div:hover {
    background: lightgrey;
  }
  
  .productdisplay-right button {
    padding: 16px 24px;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  .productdisplay-right button:active {
    scale: 90%;
  }
  
  .productdisplay-tags {
    margin-top: 16px;
  }
  
  .productdisplay-tags span {
    font-weight: 600;
  }
  
}

@media only screen and (min-width: 600px) {
  .productdisplay {
    display: flex;
    margin: 0px 168px;
  }
  
  .productdisplay-left {
    display: flex;
    gap: 16px;
  
  }
  
  .productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .productdisplay-img-list img {
    height: 168px;
  }
  
  .productdisplay-hero {
    width: 584px;
  }
  
  .productdisplay-right {
    margin: 0px 68px;
    display: flex;
    flex-direction: column;
  }
  
  .productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
  }
  
  .productdisplay-stars {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    color: #1c1c1c;
    font-size: 16px;
  }
  
  .productdisplay-prices {
    display: flex;
    margin: 40px 0px;
    gap: 32px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .productdisplay-price-old {
    color: #818181;
    text-decoration: line-through;
  }
  
  .productdisplay-price-new {
    color: #ff4141;
  }
  
  .productdisplay-size h1 {
    margin-top: 56px;
    color: #656565;
    font-size: 24px;
    font-weight: 600;
  }
  
  .productdisplay-sizes {
    display: flex;
    margin: 32px 0px;
    gap: 20px;
  }
  
  .productdisplay-sizes div {
    padding: 8px 16px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .productdisplay-sizes div:focus{
    background: grey;
  }
  
  .productdisplay-sizes div:hover {
    background: lightgrey;
  }
  
  .productdisplay-right button {
    padding: 16px 24px;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  .productdisplay-right button:active {
    scale: 90%;
  }
  
  .productdisplay-tags {
    margin-top: 16px;
  }
  
  .productdisplay-tags span {
    font-weight: 600;
  }
  
}
